.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 360px;

    border: 2px solid white;
    border-radius: 5px;

    margin-left: 16px;
    margin-top: 12px;

    gap: 24px;

    h1 {
        margin-top: 24px;
        margin-left: 12px;
    }

    .recent-playlist {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 12px;
        gap: 8px;
        margin-bottom: 16px;
    }

    .playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 12px;
        border-radius: 5px;
    }

    .description {
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
}